
.weatherToolbar {
  position: relative;
  padding-top: 35px;
  background-size: cover;
  background-position: center;
  z-index: 10;

  // image overlay
  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.25);
    z-index: 1;
  }

  .toolbar {
    position: relative;
    padding: 25px 10px 10px 10px;
    margin-top: -30px;
    text-align: center;
    background: #F7F7F7;
    box-shadow: -2px 3px 3px -1px rgba(0, 0, 0, 0.15);
    transform: translateY(50%);
    z-index: 2;

    h1 {
      margin-bottom: 20px;
      font-size: $font_large;
    }

    .form-group {
      label {
        margin-right: 10px;
      }

      input {
        padding: 5px;
        margin-right: 10px;
        border: none;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25)
      }
    }
  }

  @media screen and (max-width: 500px) {
    margin-bottom: 0;
    background-image: none;

    .container {
      padding: 0;
    }

    .toolbar {
      transform: translateY(0);
      margin-top: 20px;

      .form-group {
        input {
          display: block;
          max-width: none;
          width: 100%;
          margin-bottom: 10px;
        }
      }
    }
  }
}
