
.dayConditions {
  text-align: left;

  .date {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: $font_small;
  }

  .conditionStatus {
    border-top: 4px solid $color_black;
    padding: 5px 0;
    text-align: center;

      svg {
        max-width: 115px;
        max-height: 115px;

        path {
          fill: $color_black;
        }
      }
    }

    .conditions {
      border-top: 1px solid $color_black;
      padding-top: 10px;
      text-align: left;

      p {
        margin: 0;
        padding: 0;
      }
    }
}
