.manageZipCodes {
  
  .controls {
    display: flex;
    padding: 20px;
    background: #f2f2f2;
    border-radius: 4px;
    max-width: 180px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100px;
    margin-right: 15px;

    li {
      padding: 5px 10px 6px 10px;
      background: #C4C4C4;
      margin-bottom: 10px;
      border-radius: 4px;
      cursor: move;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .deleteBtns {
    width: 30px;

    button {
      height: 35px;
      margin-bottom: 10px;
      border: none;
      outline: none;
      background: $color_accent;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}