
.zipCodeHistory {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 5px;
  height: 38px;
  overflow-y: hidden;
  z-index: 2;
  color: #fff;
  border-bottom: 1px solid #fff;

  .menuToggle {
    display: none;
    margin-right: 10px;

    &+span {
      vertical-align: middle;
    }
  }

  span {
    margin-right: 10px;
    font-weight: 700;
    font-size: 1.2rem;
    white-space: nowrap;
  }

  ul {
    display: flex;
    flex-wrap: nowrap;
    vertical-align: middle;
    margin: 0;
    padding-left: 10px;
    min-height: 58px;
    overflow-x: auto;
    list-style: none;

    li {
      margin-right: 7px;

      a {
        display: inline-block;
        padding: 5px 10px;
        font-size: .9rem;
        color: #fff;
        border-radius: 3px;

        &:hover {
          background: rgba(250,250,250,.15);
          text-decoration: none;
        }
      }
    }
  }

  @media screen and (max-width: $mobile_small) {
    display: block;
    padding: 15px 0 5px 0;
    height: auto;
    border-bottom: none;
    background: $color_grey;

    .menuToggle {
      display: inline-block;
      margin-left: 15px;
    }

    ul {
      max-height: 0;
      min-height: 0;
      overflow: hidden;
      padding: 0 15px;
      margin-top: 10px;
      display: block;
      transition: all 350ms;

      &.mobileOpen {
        max-height: 200px;
        overflow-y: auto;
      }

      li {
        display: block;
        width: 100%;
        margin: 0;
      }
    }
  }
}
